
    button {
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-color: #F28123;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        
      }
      button:hover {
        color: #F28123;
        text-decoration: none;
      }
      .boxed-btn {
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-color: #F28123;
        color: #fff;
        padding: 10px 20px;
      }
